.global {
    margin: auto;
    margin-top: 5rem;
    padding-bottom: 1rem;
    width: 80%;
    height: fit-content;
    border: 1rem solid #ab47bc;
    font-size: large;
    color: white;
    background-color: #ab47bc;
    text-align: center;
}