.internal {
    margin: auto;
    margin-top: 5rem;
    padding-bottom: 1rem;
    width: 80%;
    height: fit-content;
    border: 1rem solid #009688;
    font-size: large;
    color: white;
    background-color: #009688;
    text-align: center;
}